<div class="page-content min-500">
  <div class="container">
    <div class="row">
      <div style="padding-top:90px">
        <div>
          <h1 class="main-heading">{{movieDetail.name}}</h1>
        </div>
        <div class="theatre-container">
          <ul class="theatre-ul">
            <li *ngFor="let theatre of movieDetail.theatres" class="theatre-li">
              <div class="theatre">
                <div class="theatre-name">
                  <h4>{{theatre.name}}</h4>
                </div>
                <div class="theatre-details">
                  <div class="ticket-info"><img src="../assets/icons/invoice.png" alt="Smiley face" height="30"
                      width="30"></div>
                  <div class="food-info"><img src="../assets/icons/burger.png" alt="Smiley face" height="30" width="30">
                  </div>
                </div>
              </div>
              <div class="show-times">
                <ul class="show-times-ul">
                  <li *ngFor="let show of theatre.shows" class="show-times-li">
                    <button [disabled]="showSeats" *ngIf="!show.selected" class="time" id="time" value="10:45 AM" (click)="selectShow(show,theatre)">{{show.time}}</button>
                    <div *ngIf="!show.selected && !showSeats" class="show-seat">
                      <ul class="popup-ul">
                        <li class="popup-li">
                          <div class="price"> $ {{show.price}}</div>
                          <div class="seat-type"> {{show.type}}</div>
                          <div class="seat-availability"> {{show.seatsAvailable > 8 ? 'Available' : 'Filling Fast'}}
                          </div>
                        </li>
                      </ul>
                    </div>
                    <button  *ngIf="show.selected" class="time time-selected" id="time" value="10:45 AM" (click)="selectShow(show,theatre)">{{show.time}}</button>
                    <div *ngIf="show.selected">
                      <ul class="popup-ul">
                        <li class="popup-li">
                          <div class="price"> $ {{show.price}}</div>
                          <div class="seat-type"> {{show.type}}</div>
                          <div class="seat-availability"> {{show.seatsAvailable > 8 ? 'Available' : 'Filling Fast'}}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <ng-container *ngIf="showSeats">
              <div *ngFor="let show of theatre.shows" class="selection-container" id="selection-container">
                <div *ngIf="show.selected" class="selection">
                  <label>{{show.type}}</label>
                  <input type="number" max="10" />
                </div>
              </div>
              <div *ngIf="theatre.selected" class="card-body book-button pay-button">
                <button type="button" class="login btn btn-sm" routerLink="/booking-summary">Pay</button>
              </div>
            </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  const targetDiv = document.getElementById("selection-container");
    const btn = document.getElementById("time");
  btn.onclick = function () {
    console.log("testttttt");
        targetDiv.style.display = "flex";
      
    };
</script> -->