
<div class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="../../assets/movies/thor.jpg" />
      <h1>Thor: Love and Thunder<span> (UA)</span></h1>
      <h4>7 Jul, 2022</h4>
      <span class="minutes">1h 59m</span>
      <p class="type">Action,Adventure,Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Thor embarks on a journey unlike anything he`s ever faced, a quest for inner peace. However, his retirement gets interrupted by Gorr the God Butcher, a galactic killer who seeks the extinction of the gods.</p>
    </div>
    <div class="movie_social">
      <div class="card-body book-button">
            <button type="button" class="login btn btn-sm" routerLink="">Book Now</button>
          </div>
    </div>
  </div>
  <div class="blur_back tomb_back"></div>
</div>

