.bg {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: black;
  background-size: 100% 100%;
  background-position: top center;
  margin: auto;
}
.summary-head {
  padding-top: 50px;
}


.mainRow {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  display: flex;
}

p {
  margin: 0px;
}


.item {
  margin: 5%;
  color: #6c757d;
  font-size: 20px;
}

.heading1 {
  margin: 5%;
  font-size: 25px;
  color: red;
}


.text1 {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.total {
  margin: 5%;
  color: white;
  font-size: 20px;
}

.totalText {
  font-weight: 700;
  color: white;
}

.totalText2 {
  font-weight: 700;
  font-size: 30px;
}

.button-div {
  padding-top: 20px;
  text-align: center;
  margin-bottom:10px;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #ff5e14;
}
.float-right {
  float: right !important;
}

@media screen and (max-width: 768px) {
  .mainRow {
    flex-direction:column;
  }

    }
