<div class="bg">
  <div class="row mainRow">
    <div class="col-sm-7">
      <div class="view view-cascade overlay text-center">
        <img class="card-img-top" src="../../assets/movies/superpetsbackground.jpg" alt="movie">
      </div>
    </div>
    <div class="col-sm-5">
      <p class="heading1"><strong>Booking Summary</strong></p>
      <p class="item">Ticket Cost <span class="float-right text1">30</span></p>
      <p class="item">Convenience Fee<span class="float-right text1">$1,240</span></p>
      <p class="item">Subtotal<span class="float-right text1">Free</span></p>
      <p class="item">Promo Code<span class="float-right text1">-$100</span></p>
      <p class="total"><strong>Total</strong><span class="float-right totalText1">$<span class="totalText2">1,140</span></span></p>
      <div class="button-div">
        <input type="submit" value="Proceed to Payment">
      </div>
    </div>
  </div>
</div>
