<img class="banner" src="../../assets/images/offer2.jpg">
<div class="page-content">

  <div class="container">
    <div class="row">

      <h1 class="main-heading">Movies in Ontario</h1>

      <div class="col-lg-3 col-md-4 list-card" *ngFor="let movie of movies;">
        <div class="card movie-card"  routerLink="/movie-details">
          <img class="card-img-top" src="{{movie.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{movie.name}}</h5>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{movie.rating}}</li>
            <li class="list-group-item">
              <span *ngFor="let language of movie.languages;">{{language}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
